{% extends 'base.html.twig' %}

{% block title %}Manage Campaign: {{ campaign.name }}{% endblock %}
{% block page_heading %}Manage Campaign{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div>
        <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">{{ campaign.name }}</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Details and actions.</p>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <a
                    type="button"
                    href="{{ path('app_company_prospects', {'identifier': campaign.name}) }}"
                    class="rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >
                List Recent Prospects
            </a>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Company name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ campaign.name }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Company identifier</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ campaign.name }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Company Created</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ campaign.createdAt|date('Y-m-d') }}</dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
