{% extends 'base.html.twig' %}

{% block title %}Manage Prospects{% endblock %}
{% block page_heading %}Manage Prospects{% endblock %}

{% block body %}
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">Prospects</h1>
                <p class="mt-2 text-sm text-gray-700">There are {{ prospects|length }} Prospects for this Company.</p>
            </div>
        </div>
        {% if prospects|length > 0 %}
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead>
                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Full Name</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">City</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">State</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Postal Code</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Do Not Mail</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Do Not Contact</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                            {% for prospect in prospects %}
                                <tr>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.fullName }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.city }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.state }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.postalCode }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.doNotMail }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.doNotContact }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prospect.createdAt|date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
                <div class="hidden sm:block">
                    <p class="text-sm text-gray-700">
                        Showing
                        <span class="font-medium">{{ offset + 1}}</span>
                        to
                        <span class="font-medium">{{ next }}</span>
                        of
                        <span class="font-medium">{{ prospects|length }}</span>
                        results
                    </p>
                </div>
                <div class="flex flex-1 justify-between sm:justify-end">
                    <a href="{{ path('app_company_prospects', { identifier: company.identifier, offset: previous }) }}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
                    <a href="{{ path('app_company_prospects', { identifier: company.identifier, offset: next }) }}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
                </div>
            </nav>
        {% endif %}
    </div>
{% endblock %}
